{% load static %}
<html>
  <head>
    <title>Oursite</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="page-header">
      <h1><a href="/courses/">Courses</a></h1>
    </div>

    <div id="swup" class="content container transition-fade">
      <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
    <script>const swup = new Swup();</script>
  </body>
</html>
