{% extends "courses/course_base.html" %}

{% block title %}
    {{ course }}
{% endblock %}

{% block content %}
    <h1><a href={% url "courses:course_list" %}>Course</a></h1>
    <h2>{{ course }} | <a href={% url "courses:course_update" course.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "courses:course_delete" course.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ course }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}
