<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Robot in a Can Guidebook template</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="./style.css">

  <link rel="stylesheet" href="css/reveal.css">
  <link rel="stylesheet" href="css/theme/bungo.css" id="theme">

  <!-- Printing and PDF exports -->
  <script>
    var link = document.createElement( 'link' );
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
    document.getElementsByTagName( 'head' )[0].appendChild( link );
  </script>

</head>
<body>
<div class="section workspace reveal">
  <div id="app">
    <div id="pages" class="main">
      <div id="v-for-chapters" class="slides">


        <section v-for="(chapter,chapter_number) in chapters" :id="'chapter_' + chapter_number" class="paper">


              
              <section v-for="(page,index) in chapter" :id="index" :class="page.type" :style="[ page.background_image ? { backgroundImage : 'url(\'./imgs/' + page.background_image + '\')' }: false ]">
                <div v-if="page.type.includes('basics')" class="page_type"><img src="imgs/svg/basic_type.svg"/></div>
                <div v-if="page.type.includes('activity')" class="page_type"><img src="imgs/svg/activity_type.svg"/></div>
                <div v-if="page.type.includes('reference')" class="page_type"><img src="imgs/svg/reference_type.svg"/></div>
                <div class="branding"><img src="imgs/svg/Robotype.svg"/></div>
                <div class="container">
                  <div class="columns">
                    <div v-for="column in page.columns" class="column" :style="column.style">
                      <h1 v-if="column.title">

                        <input v-show="column.title_editing == true"
                        v-model="column.title" v-on:blur="column.title_editing = false; $emit('update')"
                        @keyup.enter="column.title_editing = false; $emit('update')">

                        <span v-show="column.title_editing !== true" @dblclick="column.title_editing = true"> 
                          {{ column.title}}
                        </span>
                      </h1>

                      <h2 v-if="column.subtitle" class="coversubtitle"> {{ column.subtitle }} </h2>
                      <img v-if="column.logo" :src="'./imgs/' + column.logo"  class="logo">
                      <img v-if="column.image" :src="'./imgs/' + column.image">
                      <p v-if="column.body"> {{ column.body }} </p>
                      <ol v-if="column.list">
                        <li v-for="item in column.list">
                          {{ item.body }}
                        </li>
                      </ol>
                      <h4 v-if="column.message"> {{column.message }} </h4>
                      <p v-if="column.fun_fact"> Fun fact: {{column.fun_fact }} </p>
                      <p v-if="column.troubleshooting"> Troubleshooting: {{column.troubleshooting }} </p>
                      <p v-if="column.nerd_alert"> Did you know: {{column.nerd_alert }} </p>
                    </div>
                  </div>
                </div>
              </section>


        </section>

    </div>
  </div>
</div>

</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
<script  src="./script.js"></script>
<script src="./reveal.js"></script>
<script>
      // More info about config & dependencies:
      // - https://github.com/hakimel/reveal.js#configuration
      // - https://github.com/hakimel/reveal.js#dependencies
      Reveal.initialize({
        hash: true,
        dependencies: [
          { src: 'plugin/markdown/marked.js' },
          { src: 'plugin/markdown/markdown.js' },
          { src: 'plugin/highlight/highlight.js' },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });
    </script>

</body>
</html>
